<!--<div>-->
<!--<div masonry>-->
<!--<div class="masonry-brick pinterest" ng-repeat="gterest in allGterestList">-->
<!--<img ng-src="{[{gterest.image}]}" alt="aaa" style="width: 238px;">-->
<!--<p style="font-size:11px; color: grey; " ><b><a ng-href="#/userProfile" ng-click="seeProfile(gterest);">{[{gterest.author}]}</a></b></p>-->
<!--<p style="margin-top: 5px;"  ><b>{[{gterest.title}]}</b></p>-->
<!--<button class="btn btn-danger btn-xs" style="margin-bottom: 2px;"><span class="glyphicon glyphicon-heart"></span></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div>
    <div masonry style="margin-top:10px;">
        <div class="masonry-brick pinterest" ng-repeat="gterest in allGterestList">
            <div class="row">
                <div class="col-xs-12">
                    <p style="margin-top: 5px;margin-bottom: 0;"><b>{{gterest.title}}</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img ng-src="{{gterest.image}}" alt="aaa" style="width: 238px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><p style="font-size:11px; color: grey; "><b><a id="profileText"
                                                                                      ng-href="#/userProfile"
                                                                                      ng-click="seeProfile(gterest);">{{gterest.author}}</a></b>
                </div>
            </div>

            </p>
        </div>
    </div>
</div>

